{% extends 'base.html' %}
{% block title %} List Distributors {% endblock title %}

{% block body %}

<div class="col-md-12">
    <h1>Show Distributors</h1>
   
        <form method="POST">
            <div style="width: 70%;margin:auto">
            <table class="table table-striped style="border: 1px solid rgb(8, 8, 8);>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Adress</th>
                        <th scope="col">NIT</th>
                        <th scope="col">Description</th>
                        <th scope="col">Phone</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
            
                    {% for distributor in distributors %}
                    <tr>
                        <td>{{distributor.name}}</td>
                        <td>{{distributor.address}}</td>
                        <td>{{distributor.nit}}</td>
                        <td>{{distributor.description}}</td>
                        <td>{{distributor.phone}}</td>
                        <td>
                            <a href="{% url 'edit_Distributor' distributor.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
                            <a href="{% url 'delete_Distributor' distributor.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete</a>
                        </td>    
                    </tr>
                    {% endfor %}
                </tbody>      
            </table>
        </div>
    </form>    
    <br>
    <br>
    <tr ><a href="{% url 'index' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Return</a>
        <a href="{% url 'create_Distributor' %}"  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add New</a></tr>
    
</div>



{% endblock body %}