{% extends 'base.html' %}
{% block title %} Index {% endblock title %}

{% block body %}




<section id="services" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Our Services</h2>
    
    <div class="row text-center">
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="/inventory/static/images/distributor.png" alt="Distributors">
             <div class="card-body">
                <h4 class="card-title">Distributors</h4>
                <p class="card-text">In this section you can add the distributors that supply your business.</p>
             </div>
             <div class="card-footer py-4">
                <a href="{% url 'show_Distributor' %}" class="btn btn-secondary">See Demo &raquo;</a>
             </div>
          </div>
       </div>

       <div class="col-md-4 mb-4">
        <div class="card h-100">
           <img class="card-img-top" src="/inventory/static/images/items.jpg" alt="Items">
           <div class="card-body">
              <h4 class="card-title">Items</h4>
              <p class="card-text">In this section you can add the products of your business and you can link the distributor with the product to know who you should buy it from.</p>
           </div>
           <div class="card-footer py-4">
              <a href="{% url 'show_Item' %}" class="btn btn-secondary">See Demo &raquo;</a>
           </div>
        </div>
     </div>

     <div class="col-md-4 mb-4">
        <div class="card h-100">
           <img class="card-img-top" src="/inventory/static/images/users.jpg" alt="Users">
           <div class="card-body">
              <h4 class="card-title">Users</h4>
              <p class="card-text">In this section you can register the users who are linked to your business with all their data.</p>
           </div>
           <div class="card-footer py-4">
              <a href="{% url 'show_User' %}" class="btn btn-secondary">See Demo &raquo;</a>
           </div>
        </div>
     </div>
       
     <div class="col-md-4 mb-4">
        <div class="card h-100">
           <img class="card-img-top" src="/inventory/static/images/invoice.jpg" alt="Invoices">
           <div class="card-body">
              <h4 class="card-title">Invoices</h4>
              <p class="card-text">In this section you can register the invoices generated in your business.</p>
           </div>
           <div class="card-footer py-4">
              <a href="{% url 'show_Invoice' %}" class="btn btn-secondary">See Demo &raquo;</a>
           </div>
        </div>
     </div>

       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="/inventory/static/images/point.jpg" alt="Points">
             <div class="card-body">
                <h4 class="card-title">Points</h4>
                   <p class="card-text">In this section you can add boxes or points of sale with their respective cash budget and link the user who works in it.</p>
             </div>
             <div class="card-footer py-4">
                <a href="{% url 'show_Point' %}" class="btn btn-secondary">See Demo &raquo;</a>
             </div>
          </div>
       </div>
       
       <div class="col-md-4 mb-4">
          <div class="card h-100">
             <img class="card-img-top" src="/inventory/static/images/details.jpg" alt="Details">
             <div class="card-body">
                <h4 class="card-title">Details</h4>
                <p class="card-text">In this section you can add the products you sold within the invoice you want.</p>
             </div>
             <div class="card-footer py-4">
                <a href="{% url 'show_Detail' %}" class="btn btn-secondary">See Demo &raquo;</a>
             </div>
          </div>
       </div>
    </div>
 </section>

{% endblock body %}