{% extends 'base.html' %}
{% block title %} Manage Distributors {% endblock title %}

{% block body %}
<h1 text="align-center">Manage Invoice</h1>
<div class="col-md-12"></div>
    <div style="width: 50%;margin:auto">
        <table class="table table-striped style="border: 1px solid rgb(8, 8, 8);>
            <p>select type if it is output</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Save">
            </form> 
        </table>
        <a href="{% url 'show_Invoice' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Return</a>
    </div>
</div>

{% endblock body %}